* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {

}
h1 {
    text-align: center;
    font-size: 3rem;
}
.meal-class {
    margin-bottom: 5px;
    text-align: center;
}
.meal-class button {
    font-size: 1.5rem;
    border: none;
    color: #ff2600b4;
    padding: 0 2px;;
    border-bottom: 1px solid #ff2600b4;
    border-radius: 3px;
}
.breakfast:hover,
.launch:hover,
.dinner:hover,
.dessert:hover,
.shake:hover {
    color: #000;
    border-top: 1px solid #ff2600b4;
    border-right: 1px solid #ff2600b4;
    border-bottom: none;
    border-left: 1px solid #ff2600b4;
    background-color: #ff2600b4;
}
.meals {
    text-align: center;
}

.carousel-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 80%;
    padding: 5px;
}
.prev, .next {
    font-size: 2rem ;
}
.carousel {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
    padding: 5px;
    position: relative;
    overflow: hidden;
}
/* .carousel::-webkit-scrollbar {
    height: .5rem;
    width: 2px;
}
.carousel::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .3);
}
.carousel::-webkit-scrollbar-thumb {
    background: rgba(250, 0, 0, .6);
    border-radius: 10px;
}
.carousel::-webkit-scrollbar-thumb:hover {
    background-color: red;
} */
.images {
    position: relative;
    /* border: 1px solid red;   */
}
/* .image {

} */
img {
    max-width: 200px;
    height: 280px;
    object-fit: cover;
    object-position: center;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(.95);
    transition: all .3s ease-in-out;
}
.images:hover img {
    transform: scale(1);
}
.name-price-card {
    position: absolute;
    inset: 0;
    max-width: 200px;
    height: 280px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    padding: 1rem;
    text-align: center;
    transform: scale(0);
    transition: all .5s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
}
.images:hover .name-price-card {
    inset: 0;
    top: 0;
    transform: scale(1);
}

.name-price-card > span {
    display: block;
    font-size: 1.8rem;
    margin-top: 2rem;
}
.price {
    color: white;
    margin-top: 2rem;
}
.fa-star {
    color: orangered;
    margin-top: 2rem;
}
.food-name {
    color: white;
    margin-top: 2rem;
}
.place-order a {
    text-decoration: none;
    color: orangered;
    background-color: white;
    margin-top: 2rem;
    padding: 5px;
    border-radius: 5px;

}
.place-order a:hover {
    color: white;
    background-color: orangered;
}
.current {

}